{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Manage Clients :: PLG</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{%static 'vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{%static 'vendors/base/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{%static 'css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{%static 'images/favicon.png' %}" />
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">  
          <a class="navbar-brand brand-logo" href="manage-case-type.html"><img src="{%static 'images/logo.png' %}" alt="logo"/></a>
          <a class="navbar-brand brand-logo-mini" href="manage-case-type.html"><img src="{% static 'images/favicon.png' %}" alt="logo"/></a>
        </div>  
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">   
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-sort-variant"></span>
        </button>     
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="{% static 'images/user.png' %}" alt="profile"/>
              <span class="nav-profile-name">Welcome Admin</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a href="login.html" class="dropdown-item">
                <i class="mdi mdi-logout text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
	{%include "side_menu.html"%}
    <div class="main-panel">
        <div class="content-wrapper">          
			<div class="row">
				<div class="col-md-12">
				  <div class="d-flex justify-content-between flex-wrap">
					<div class="d-flex align-items-center flex-wrap">
					  <div class="mr-md-3 mr-xl-5">
						<h2 class="mb-0">Products</h2>
					  </div>
					</div>
					<div class="d-flex justify-content-between align-items-center flex-wrap">                  
					  <!-- <button class="btn btn-primary mt-2 mt-xl-0" title="Edit" type="button" data-toggle="modal" data-target="#ViewModal"><i class="mdi mdi-plus-circle-outline"></i> &nbsp Add Product</button> -->
					</div>
				  </div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card mt-3">
						<div class="card-body">
							<div class="table-responsive">
								<table id="example" class="table table-hover table-bordered" style="width:100%">
									<thead>
										<tr>
											<th class="text-center">SL.No</th>
											<th class="text-center">Gender</th>
											<th class="text-center">Brand</th>
											<th class="text-center">Category</th>
											<th class="text-center">Sub Category</th>
											<th class="text-center">Product Description</th>
											<th class="text-center">Product Condition</th>
											<th class="text-center">Material</th>
											<th class="text-center">Colour</th>
											<th class="text-center">Price</th>
											<th class="text-center">Live Price</th>
											<th class="text-center">Special Price</th>
											<th class="text-center">Discount %</th>
											<th class="text-center">Estimated Retail Price</th>
											<th class="text-center">Website</th>
											<th class="text-center">Location</th>
											<th class="text-center">DateTime Stamp</th>
											<th class="text-center">Status</th>
											
										</tr>
									</thead>
									<tbody class="text-center">
									<tr>
										<td>1</td>
										<td>Female</td>
										<td>Hermes</td>
										<td>Clothing</td>
										<td>Skirt</td>
										<td>A women skirt</td>
										<td>Good</td>
										<td>Cotton</td>
										<td>Red</td>
										<td>£452.12</td>
										<td>£452.12</td>
										<td>£452.12</td>
										<td>50%</td>
										<td>£452.12</td>
										<td>Vestiare</td>
										<td>England</td>
										<td>12/12/2022</td>
										<td>Live</td>
									</tr>
									<tr>
										<td>1</td>
										<td>Female</td>
										<td>Hermes</td>
										<td>Clothing</td>
										<td>Skirt</td>
										<td>A women skirt</td>
										<td>Good</td>
										<td>Cotton</td>
										<td>Red</td>
										<td>£452.12</td>
										<td>£452.12</td>
										<td>£452.12</td>
										<td>50%</td>
										<td>£452.12</td>
										<td>Vestiare</td>
										<td>England</td>
										<td>12/12/2022</td>
										<td>Live</td>
									</tr>
									<tr>
										<td>1</td>
										<td>Female</td>
										<td>Hermes</td>
										<td>Clothing</td>
										<td>Skirt</td>
										<td>A women skirt</td>
										<td>Good</td>
										<td>Cotton</td>
										<td>Red</td>
										<td>£452.12</td>
										<td>£452.12</td>
										<td>£452.12</td>
										<td>50%</td>
										<td>£452.12</td>
										<td>Vestiare</td>
										<td>England</td>
										<td>12/12/2022</td>
										<td>Live</td>
									</tr>
									<tr>
										<td>1</td>
										<td>Female</td>
										<td>Hermes</td>
										<td>Clothing</td>
										<td>Skirt</td>
										<td>A women skirt</td>
										<td>Good</td>
										<td>Cotton</td>
										<td>Red</td>
										<td>£452.12</td>
										<td>£452.12</td>
										<td>£452.12</td>
										<td>50%</td>
										<td>£452.12</td>
										<td>Vestiare</td>
										<td>England</td>
										<td>12/12/2022</td>
										<td>Live</td>
									</tr>
									<tr>
										<td>1</td>
										<td>Female</td>
										<td>Hermes</td>
										<td>Clothing</td>
										<td>Skirt</td>
										<td>A women skirt</td>
										<td>Good</td>
										<td>Cotton</td>
										<td>Red</td>
										<td>£452.12</td>
										<td>£452.12</td>
										<td>£452.12</td>
										<td>50%</td>
										<td>£452.12</td>
										<td>Vestiare</td>
										<td>England</td>
										<td>12/12/2022</td>
										<td>Live</td>
									</tr>
									<tr>
										<td>1</td>
										<td>Female</td>
										<td>Hermes</td>
										<td>Clothing</td>
										<td>Skirt</td>
										<td>A women skirt</td>
										<td>Good</td>
										<td>Cotton</td>
										<td>Red</td>
										<td>£452.12</td>
										<td>£452.12</td>
										<td>£452.12</td>
										<td>50%</td>
										<td>£452.12</td>
										<td>Vestiare</td>
										<td>England</td>
										<td>12/12/2022</td>
										<td>Live</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright &copy; <script type="text/javascript">document.write((new Date()).getFullYear());</script>. All rights reserved.</span>
          </div>
        </footer>
        <!-- partial -->
    </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{%static 'vendors/base/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{%static 'js/off-canvas.js' %} "></script>
  <script src="{%static 'js/hoverable-collapse.js' %} "></script>
  <script src="{%static 'js/template.js' %} "></script>  
  <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
  <script>
	$(document).ready(function() {
		$('#example').DataTable({
			"columnDefs": [{
			"targets": 'no-sort',
			"orderable": false,
			}],
			pageLength : 5,
			lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'All']]
		});
	});
  </script>
  <!-- Modal -->
<div class="modal fade" id="ViewModal" tabindex="-1" role="dialog" aria-labelledby="ViewModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddUserLabel">Add / Edit Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<div class="row">
			<div class="col">
				<div class="form-group">
					<label for="" class="col-form-label p-0 m-0">First Name</label>
					<input type="text" class="form-control" id="" />
				</div>
			</div>
			<div class="col">
				<div class="form-group">
					<label for="" class="col-form-label p-0 m-0">Last Name</label>
					<input type="text" class="form-control" id="" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<label for="" class="col-form-label p-0 m-0">Password</label>
					<input type="text" class="form-control" id="" />
				</div>
			</div>
			<div class="col">
				<div class="form-group">
					<label for="" class="col-form-label p-0 m-0">Confirm Password</label>
					<input type="text" class="form-control" id="" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<label for="" class="col-form-label p-0 m-0">Email ID</label>
					<input type="text" class="form-control" id="" />
				</div>
			</div>
			<div class="col">
				<div class="form-group">
					<label for="" class="col-form-label p-0 m-0">Phone</label>
					<input type="text" class="form-control" id="" />
				</div>
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="mdi mdi-close-circle"></i> &nbsp; Cancel</button>
		<button type="button" class="btn btn-primary"><i class="mdi mdi-content-save"></i> &nbsp;  Save</button>
      </div>
    </div>
  </div>
</div>
</body>

</html>